@media (max-width: 600px) {
  .app-header {
    display: flex;
    flex-direction: column;
    .top-header {
      display: flex;
    }
    .mid-header {
      display: flex;
    }
    .bottom-header {
      display: flex;
    }
  }
}

@media (min-width: 600px) {
  .app-header {
    display: flex;
    flex-direction: column;
    .top-header {
      display: flex;
    }
    .mid-header {
      .influents-filter {
        ul {
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .bottom-header {
      .criterias-filter {
        ul {
          display: flex;
          justify-content: space-between;
          li {
            background-color: aquamarine;
            width: 10em;
            height: 6em;
            border-radius: 80px 0px;
          }
        }
      }
    }
  }
}

@media (min-width: 950px) {
  .app-header {
  }
}
@media (min-width: 1128px) {
  .app-header {
  }
}

@media (min-width: 1700px) {
  .app-header {
  }
}
