section.dashboard-table {
  box-shadow: 2px 4px 6px -2px #494949;
  table {
    tr {
      border: 1px solid black;
      box-shadow: 2px 4px 10px -2px #494949;
      td {
        box-shadow: 2px 4px 10px -2px #494949;
      }
    }
  }
}
