.women-fashion {
  //   background-color: aqua;
  width: 100%;
  height: 400px;
  .women-fashion-carousel {
    img {
      //   background-color: rgb(9, 255, 0);
      width: 120px;
      height: 150px;
      margin-right: 20px;
    }
  }
}
