section.modal-criterias {
  width: 40vw;
  height: 40vh;
  box-shadow: 2px 4px 11px -2px #494949;
  border-radius: 1em;
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 10;
  background: whitesmoke;
}
