.product-preview {
  .preview-img-container {
    box-shadow: 2px 4px 11px -2px #000000;
    border-radius: 1em;

    img {
      width: 100%;
      border-radius: 1em;
    }
  }
}
@media (max-width: 600px) {
  .preview-img-container {
    // background-color: aqua;
    width: 110px;
    height: 140px;
    overflow: hidden;
  }
}

@media (min-width: 600px) {
  .preview-img-container {
    // background-color: aqua;
    width: 220px;
    height: 200px;
    overflow: hidden;
  }
}
