.product-preview {
  .preview-img-container {
    // background-color: aqua;
    width: 220px;
    height: 300px;
    margin: 10px;
    background-color: aquamarine;
    img {
      border-radius: 1em;
      box-shadow: 2px 4px 11px -2px #000000;
    }
  }
}
