// Colors
$clr1: #fff;
$clr2: #ffe6e6;
$clr3: #fff2e6;
$clr4: #ffbf80;
$clr5: #ffd9b3;
$clr6: #3c3c3c;
// $clr1: #191919;
// $clr2: #3c3c3c;
// $clr3: #d9d9d9;
// $clr4: #006600;
// $clr5: #33ff33;
// $clr6: #fff;

// Breakpoints
$mobile-breakpoint: 600px;
$narrow-breakpoint: 760px;
$normal-breakpoint: 1400px;
$wide-breakpoint: 1700px;
