// Colors
$clr1: #191919;
$clr2: #3c3c3c;
$clr3: #d9d9d9;
$clr4: #006600;
$clr5: #33ff33;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 600px;
$narrow-breakpoint: 760px;
$normal-breakpoint: 1400px;
$wide-breakpoint: 1700px;
