section.add-product {
  border: 1px solid $clr3;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    .top-header {
      display: flex;
      justify-content: space-around;

      .box {
        margin-top: 10px;
        border: 1px solid $clr3;
        // height: 3em;
        // width: 100px;
        text-align: center;
        cursor: pointer;
        // &.green {
        //   background: rgb(14, 96, 28);
        // }
      }
      .line {
        border-top: 1px solid $clr3;
        width: 10%;
        margin-top: 30px;
      }

      .modal {
        position: absolute;
        top: 60px;
        left: 10px;
        width: 300px;
        height: 200px;
        background: $clr6;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 80px;
          height: 80px;
          margin: 10px;
          cursor: pointer;
        }
        img:hover {
          box-shadow: 8px 23px 58px 4px rgba(0, 0, 0, 0.75);
        }
      }
    }
    .bottom-header {
      display: flex;

      justify-content: center;
      align-items: center;
      button {
        width: 50%;
        margin-top: 20px;

        &.green {
          background: greenyellow;
        }
      }
    }
  }

  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .main-header {
      width: 80%;
      height: 3em;
      border: 1px solid $clr3;
      margin: 10px;
      input {
        width: 100%;
        height: 100%;
      }
    }

    .container-gallery-img {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .enter-imgs {
        // background-color: aqua;
        width: 40%;
        height: 200px;
        box-shadow: 2px 4px 11px -2px #494949;
        border-radius: 1em;
        font-size: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
          font-size: 20px;
        }
      }
      .grid-img {
        margin-top: 20px;
        margin-bottom: 80px;

        width: 100%;
        height: 55vh;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        .box0 {
          grid-area: 1 / 1 / 3 / 3;
        }
        .box1 {
          grid-area: 1 / 3 / 2 / 4;
        }
        .box2 {
          grid-area: 1 / 4 / 2 / 5;
        }
        .box3 {
          grid-area: 2 / 4 / 3 / 5;
        }
        .box4 {
          grid-area: 2 / 3 / 3 / 4;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      // .gallery-img1 {
      //   background: $clr3;
      //   width: 50%;
      //   height: 300px;
      //   border: 1px solid $clr3;
      //   margin: 10px;
      // }
      // .gallery-img2 {
      //   width: 100%;
      //   display: flex;
      //   flex-direction: column;
      //   justify-content: center;
      //   align-items: center;
      //   .box {
      //     width: 80%;
      //     height: 200px;
      //     margin: 10px;
      //   }
      // }
      .gallery-img3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        width: 80%;
        height: 600px;
        border: 1px solid $clr3;
        margin: 10px;

        .box {
          border: 1px solid $clr3;
        }
        .box1 {
          grid-area: 1 / 1 / 2 / 4;
        }
        .box2 {
          grid-area: 2 / 2 / 4 / 4;
        }
        .box3 {
          grid-area: 2 / 1 / 4 / 2;
        }
        .box4 {
          grid-area: 4 / 1 / 5 / 4;
        }
        .box5 {
          height: 100px;
          grid-area: 4 / 1 / 5 / 4;
        }
      }
    }
    .main-footer {
      width: 80%;
      height: 4em;
      textarea {
        background: $clr1;
        width: 100%;
        height: 100%;
      }
    }
  }
}
.box1,
.box2,
.box3,
.box4,
.box5 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $clr3;
  background: $clr3;
  font-size: 40px;
}
