section.details {
  header {
    text-align: center;
    a {
      color: black;
      width: 8em;
      height: 3em;
      box-shadow: 2px 4px 11px -2px #494949;
      border-radius: 1em;
    }
  }
}
